/* footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #f756fb, #6f3ee1);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#footer-title {
    margin-bottom: 30px;
    line-height: 100%;
}

#description {
    font-size: 18px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.row>p {
    font-size: 250px;
}

.column {
    flex-basis: 25%;
    padding: 10px;
}

.column:nth-child(2),
.column:nth-child(3) {
    flex-basis: 15%;
}

.footer-logo {
    width: 150px;
    margin-bottom: 30px;
}

.column h3 {
    cursor: default;
    width: fit-content;
    margin-bottom: 40px;
    margin-top: 30px;
    position: relative;
}

.column p {
    cursor: default;
}

#footer-mail-id {
    width: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#office p {
    margin: 10px 0;
    font-size: 14px;
}

#office a {
    font-size: 14px;
}

#sitemap-links li i {
    color: #fff;
}

#sitemap-links li a {
    text-decoration: none;
    color: #fff;
}

#sitemap-links li i {
    margin-right: 7px;
}

#sitemap-links li a:hover {
    border-bottom: 1px solid #fff;
}

#social-links li a {
    transition: 0.2s;
    font-size: 14px;
}

#social-links li a i {
    margin-right: 7px;
}

#social-links li a:hover {
    color: #fff;
    text-decoration: underline;
}

#office p,
#description {
    background-color: inherit;
}

footer hr {
    width: 90%;
    border-bottom: 3px solid #fff;
    margin: 20px auto;
}

.copyright {
    cursor: default;
    text-align: center;
    font-size: 12px;
}

.copyright a {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 13px;
}

.copyright a:hover {
    color: #fff;
}

.underline {
    margin-top: 10px;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 20px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    .column {
        flex-basis: 100%;
    }

    .column:nth-child(2),
    .column:nth-child(3) {
        flex-basis: 100%;
    }
} */